#root {
  width: 100%;
}

.App {
  width: 100%;
  min-height: 100vh;
}

section {
  position: relative;
}

h2 {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 40px;
  color: var(--secondary);
}