@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";
@config "../tailwind.config.js";

@theme {
  --color-primary: #8b0000;
  --color-secondary: #000000;
  --color-accent: #600000;
  --color-brand-blue: #0060ac;
  --color-brand-gray: #f4f6f8;
  --color-text-dark: #333333;
  --font-main: "Outfit", sans-serif;
}

:root {
  --primary: #8b0000;
  --secondary: #000000;
  --dark: #000000;
  --light: #f4f4f4;
  --accent: #600000;
  --brand-blue: #0060ac;
  --brand-gray: #f4f6f8;
  --text-white: #ffffff;
  --text-gray: #a0a0a0;
  --font-main: 'Outfit', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {}

body {
  font-family: 'Outfit', sans-serif !important;
  background-color: var(--dark);
  color: var(--text-white);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--dark);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}